footer {
  min-height: 13rem;
  background-color: #495e57;
  color: #ffffff;
  padding-bottom: 1rem;
  margin-top: -1.4rem;
  width: 100%;
  overflow-x: hidden;
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  text-align: left;
  line-height: 0;
}

.footer-bottom {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-width-line {
  border: none; /* Remove default border */
  height: 1px; /* Set the height of the line */
  background-color: white; /* Set the color of the line */
  margin: 0; /* Remove default margin */
}
.footer-bottom img {
  width: 200px;
}

.footer-top-left,
.footer-top-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 16px;
  font-family: Markazi Text, sans-serif;
  font-weight: 600;
}

.footer-top {
  margin-left: 10.5em;
  margin-right: 10.5em;
  margin-top: 40px;
  margin-bottom: 50px;
}
